<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<!-- HEADER  -->
	{include file='system/common/htmlHeader.tpl'}
	<!-- END OF HEADER  -->
</head>
<body>
	{include file=$__modulePageTpl}

	<!-- Add MSG SYS dialog -->
	{chunk file='msg_sys.tpl'}
</body>
</html>