<div class="social-wrap">
	<div class="fb-like" data-href="http://www.facebook.com/FindArmenian" data-layout="box_count" data-action="like" data-show-faces="false" data-share="false"></div>
	<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://findarmenian.com" data-count="vertical">Tweet</a>
	{literal}
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

	<div class="g-plusone" data-size="tall" data-href="http://findarmenian.com"></div>

	<a href="//www.pinterest.com/pin/create/button/?url=http%3A%2F%2Ffindarmenian.com&media=http%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Pinterest%20FindArmenian" data-pin-do="buttonPin" data-pin-config="above"><img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_gray_20.png" /></a>
	<!-- Place this tag after the last +1 button tag. -->
	<script type="text/javascript">
		(function() {
			var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
			po.src = 'https://apis.google.com/js/platform.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
		})();
	</script>

	<script type="text/javascript" async src="//assets.pinterest.com/js/pinit.js"></script>
	{/literal}
</div>
