.faq-item
{
    position:relative;
    margin-bottom:10px;
    border:1px solid #d1cece;
    border-radius:4px;
    -webkit-border-radius:4px;
    box-shadow:0 1px 1px #dcdcdc;
    -webkit-box-shadow:0 1px 1px #dcdcdc;
}
.faq-question
{
    padding:10px 30px 10px 10px;
    color:#2e7190;
    font-weight:bold;
    text-shadow:1px 1px #fff;
    background-color:#edf3f6;
    -webkit-border-top-left-radius:4px;
    -webkit-border-top-right-radius:4px;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
    cursor:pointer;
}
.faq-answer
{
    display:none;
    padding:10px;
    border-top:1px solid #d8dde0;
}
.faq-state
{
    position:absolute;
    top:10px;
    right:5px;
    display:inline-block;
    width:16px;
    height:16px;
    background:url(../img/faq-arrows.png) no-repeat -40px 0 transparent;
}
.faq-expand .faq-answer
{
    display:block !important;
}
.faq-expand .faq-state
{
    background:url(../img/faq-arrows.png) no-repeat 0 0 transparent;
}