@CHARSET "UTF-8";
/* Site main.css */

/* ********** import */
@import url("/{'css/reset.css'|filePath:true}");
@import url("/{'css/uniform.css'|filePath:true}");
@import url("/{'css/layout.css'|filePath:true}");

h1 { font-size: 1.6em; font-weight: bold; }
p { color: #666666; line-height: 16px;  margin: 10px auto; }

.form-tbl{ margin:0 auto; }
th{ font-weight:700;text-align:right;padding:5px; }
td{ text-align:left;padding:5px; }
th label{ display:inline-block;padding-top:8px; }
.hr-sep,.form-tbl-sep{ background-color:#FEFEFE;border-top:1px solid #CCC;display:block;height:1px;line-height:0;width:auto;margin:10px auto; }
.radiobox,.checkbox{ display:inline-block;padding:5px; }
.ckeckbox-accent{ background-color:#EEE;border-radius:4px 4px 4px 4px;display:inline-block;padding:8px 10px; }

a:link,a:visited{ color:#4C7785;outline:0 none; text-decoration: underline; }
a.logo:link, a.logo:visited { background: url("{'logo.png'|img}") no-repeat scroll 0 0 transparent; display: inline-block; font-size: 0; height: 110px; margin: 3px 0 0 30px; width: 110px; }


.share { position: absolute; right: 2px; top: 15px; }
.lang-bar { background-color: #367FA1; border-radius: 2px 2px 2px 2px; box-shadow: 0 0 1px #B6E2F5; padding: 2px; position: absolute; right: 20px; top: 0; }
a.flag-icon:link, a.flag-icon:visited { display: inline-block; margin: 0 3px; width: 18px; }
.flag-am { background: url("{'flags/am.gif'|img}") no-repeat scroll 0 transparent; }
.flag-en { background: url("{'flags/us.gif'|img}") no-repeat scroll 0 transparent; }

.logo-moto { color: #FFFFFF; font-style: italic; left: 160px; position: absolute; text-shadow: 1px 1px 1px #568DA8; top: 40px; }

.auth-tools,.profile-tools{ background:0 repeat scroll 0 0 transparent;display:inline-block;height:42px;margin:1px 0;padding:0 15px 0 0; }
.auth-tools .nav-separator,.profile-tools .nav-separator{ margin-left:-1px;margin-right:10px; }
.nav-separator{ background:url({'nav-separator.png'|img}) no-repeat scroll 50% 50% transparent;display:inline-block;font-size:0;height:40px;line-height:0;width:2px;margin:1px 2px; }
.auth-tools a:link,.auth-tools a:visited{ border-radius:4px 4px 4px 4px;color:#666;display:inline-block;font-size:16px;font-weight:700;line-height:16px;margin-top:8px;text-decoration:none;text-shadow:1px 1px #FFF;padding:5px 8px; }
.auth-tools a:hover{ background-color:#CCC;box-shadow:0 1px 1px #AAA inset, 0 1px 0 #EEE;color:#206889!important; }
.nav-padding{ display:inline-block;padding-top:9px;position:relative; }
.basic-box{ background-color:#F9F9F9;border:1px solid #ACACAC;border-radius:8px 8px 8px 8px;box-shadow:1px 1px 2px #CCC;display:block;width:640px; overflow: auto;}
.basic-box-head{ background-color:#EFEEEE;border-bottom:1px solid #D3D3D3;border-top-left-radius:8px;border-top-right-radius:8px;box-shadow:0 1px 1px #DAD9D9 inset, 0 -1px 1px #EEE inset;display:block;padding:12px 10px 12px 15px; }
.basic-box-content{ color:#666;display:block;text-align:justify;padding:12px 16px; }
.basic-box-title{ color:#206889;display:inline-block;font-size:16px;font-weight:700;line-height:16px;text-shadow:1px 1px #FFF; }

img.center { display: block; margin-left: auto; margin-right: auto; }

a.back-to-map:link, a.back-to-map:visited { color: #999999; padding: 3px;  text-decoration: none; text-shadow: 1px 1px #FFFFFF; }
a.back-to-map:hover { background-color: #FFFFFF; box-shadow: 0 1px 1px #CCCCCC inset; }

.page { float: left; padding: 20px;  width: auto; background-color: #EDF1F5; }
.sidebar {  float: right; margin: 0; padding: 10px 0 0 10px; width: 260px; background: url("{'sidebar-bg.png'|img}") repeat-y scroll 0 0 #FFFFFF; box-shadow: 0 2px 1px #999999; }
.fixed-content {  overflow: hidden !important; }

.fixed-content .page{ bottom:0;float:none!important;left:0;overflow:hidden!important;position:absolute;right:270px;top:0; }
.fixed-content .sidebar{ bottom:0;float:none!important;overflow:auto!important;position:absolute;right:0;top:0; }


.footer a:link, .footer a:visited { border-radius: 3px 3px 3px 3px;color: #DDDDDD; display: inline-block; font-size: 13px; padding: 4px; text-decoration: none; }
.footer a:hover { background-color: #333333; box-shadow: 0 1px 1px #222222 inset; color: #FFFFFF; }

.fsep { background: url("{'fsep.png'|img}") no-repeat scroll 50% 80% transparent; display: inline-block; width: 10px; }
.external-link { background: url("{'external-gray.png'|img}") no-repeat scroll 100% 60% transparent; padding-right: 16px !important; }

.footer-info { margin-left: 250px; margin-right: 350px; text-align: center; }

#map { bottom: 0; left: 0; position: absolute; right: 0; top: 0; }

.country-flag{ background-color:transparent;background-position:0 50%;background-repeat:no-repeat;color:#FFF;display:inline-block;font-family:Arial,sans-serif;font-weight:700;text-shadow:1px 1px 0 #5C8FA9;white-space:nowrap;margin:0 2px;padding:4px 0 4px 20px; }
.sidebar-box{ background-color:#6FACCB;border-radius:4px 4px 4px 4px;box-shadow:0 1px 1px #DDD;margin:2px 10px 10px 0; }
.sidebar-box-head{ background-color:#6297B2;border-top-left-radius:4px;border-top-right-radius:4px;color:#FFF;font-size:16px;font-weight:700;text-shadow:1px 1px #4C768B;padding:10px; }
.sidebar-box-content{ color:#FFF;padding:8px; }
.sidebar-box-content a:link,.sidebar-box-content a:visited{ border-radius:3px 3px 3px 3px;color:#FFF;display:inline-block;text-decoration:none;text-shadow:1px 1px #537F96;padding:5px; }
.sidebar-box-content a:hover{ background-color:#6297B2;box-shadow:0 1px 1px #407692 inset;color:#FFF; }
.sidebar-sep{ background-color:#6297B2;border-bottom:1px solid #9AC9E1;display:inline-block;font-size:1px;height:1px;width:100%;margin:5px 0; }
.social-wrap{ overflow:hidden;text-align:left;white-space:nowrap;margin:0 10px 10px 25px; }
.find-user{ background-color:#EEE;border-radius:4px 4px 4px 4px;box-shadow:0 1px 1px #DDD;display:block;margin:10px 10px 10px 0;padding:8px; }
.sidebar-adv{ display:block;margin:20px 0 10px; }
.find-user .field, .find-user .sfield{ margin-bottom:5px; }

.legend-icon{  display: inline-block;   height: 40px;   width: 30px; }

.permanent { background: url("{'pins/pin1.png'|img}") no-repeat scroll 50% 50% transparent; }
.temporary { background: url("{'pins/pin2.png'|img}") no-repeat scroll 50% 50% transparent; }
.unregistered { background: url("{'pins/pin3.png'|img}") no-repeat scroll 50% 50% transparent; }
.i-business { background: url("{'pins/pin4.png'|img}") no-repeat scroll 50% 50% transparent; }
.i-myloc { background: url("{'pins/pin5.png'|img}") no-repeat scroll 50% 50% transparent; }

.field{ background-color:#F6F6F6;border:1px solid #8C8C8C;border-radius:3px 3px 3px 3px;box-shadow:0 1px 2px #DDD inset, 0 1px 0 #FEFEFE;color:#666;font:14px/14px 'Pt Sans',Philosopher,Arial,Tahoma,sans-serif;text-shadow:1px 1px #FFF;padding:3px 4px; }
.field2{ background-color:#FBFBFB;border:1px solid #A2A2A2;border-radius:3px 3px 3px 3px;box-shadow:0 1px 2px #DDD inset, 0 1px 0 #E1E1E1;color:#666;font:14px/14px 'Pt Sans',Philosopher,Arial,Tahoma,sans-serif;text-shadow:1px 1px #FFF;padding:5px 4px; }
.sfield{ background-color:#F6F6F6;border:1px solid #8C8C8C;border-radius:3px 3px 3px 3px;box-shadow:0 1px 2px #DDD inset, 0 1px 0 #FEFEFE;color:#444;font:14px/14px 'Pt Sans',Philosopher,Arial,sans-serif;padding:2px 3px 2px 1px; }
.field2:focus,.field:focus,.sfield2:focus,.sfield:focus{ background-color:#F9FBC9; }
.frm-comment { color: #999999; display: inline-block; line-height: 16px; margin: 4px 0; }
button{ background-color:transparent!important;border:0 none;cursor:pointer;outline-width:0;overflow:visible;position:relative;white-space:nowrap;width:auto;margin:0;padding:0; }
button::-moz-focus-inner{ border:0 none!important;padding:0!important; }
.primary-btn{  background: #51bace; /* Old browsers */
    background: -moz-linear-gradient(top,  #51bace 0%, #3f91ae 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#51bace), color-stop(100%,#3f91ae)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #51bace 0%,#3f91ae 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #51bace 0%,#3f91ae 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #51bace 0%,#3f91ae 100%); /* IE10+ */
    background: linear-gradient(top,  #51bace 0%,#3f91ae 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#51bace', endColorstr='#3f91ae',GradientType=0 ); /* IE6-9 */
    border:1px solid #4B7488;border-radius:3px 3px 3px 3px;box-shadow:0 1px 1px #7DCBDA inset, 0 1px 1px #CFCDCD;color:#FFF;cursor:pointer;display:inline-block;font:bold 14px/14px 'Pt Sans',Philosopher,Arial,sans-serif;text-shadow:-1px -1px 0 #3A7B88;width:auto;padding:5px 6px 5px 4px; }
.primary-btn:hover{ box-shadow:0 1px 1px #B4EAF4 inset, 0 1px 2px #AAA!important; -webkit-box-shadow: 0 1px 1px #B4EAF4 inset, 0 1px 2px #AAA!important; }

.secondary-btn,
.secondary-btn:link,
.secondary-btn:visited
{
    background: #f6f6f6; /* Old browsers */
    background: -moz-linear-gradient(top,  #f6f6f6 0%, #dddddd 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f6f6), color-stop(100%,#dddddd)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f6f6f6 0%,#dddddd 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f6f6f6 0%,#dddddd 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f6f6f6 0%,#dddddd 100%); /* IE10+ */
    background: linear-gradient(top,  #f6f6f6 0%,#dddddd 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
    border-radius:3px;
    -webkit-border-radius:3px;
    box-shadow:inset 0 1px 1px #f8fafb, 0 1px 1px #d1cecf;
    -webkit-box-shadow:inset 0 1px 1px #f8fafb, 0 1px 1px #d1cecf;
    cursor:pointer; display:inline-block; width:auto; padding:5px 6px 5px 4px; color:#727070; font:bold 14px 'Pt Sans','Philosopher',Arial,sans-serif; line-height:14px; text-shadow:1px 1px 0 #fff; text-decoration:none; border:1px solid #aaaaaa;
}
.secondary-btn:hover{ box-shadow:inset 0 1px 1px #f8fafb, 0 1px 2px #aaa !important;  -webkit-box-shadow:inset 0 1px 1px #f8fafb, 0 1px 2px #aaa !important; }

.big-btn,a.big-btn:link,a.big-btn:visited{ background:0 repeat scroll 0 0 transparent;border:1px solid #4B7488;border-radius:4px 4px 4px 4px;box-shadow:0 1px 1px #92E8EF inset, 0 1px 1px #DADADA;color:#FFF;cursor:pointer;display:inline-block;font:bold 18px/18px 'Pt Sans',Philosopher,Arial,sans-serif;text-decoration:none;text-shadow:-1px -1px 0 #36858D;width:auto;padding:10px 15px; }
.big-btn:hover{ box-shadow:0 1px 1px #92E8EF inset, 0 1px 2px #888!important; }

.i-find{ background:url({'find.png'|img}) no-repeat scroll 0 2px transparent;padding-left:17px; }
.i-pin{ background:url({'pin.png'|img}) no-repeat scroll -2px 0 transparent;padding-left:14px; }
.i-world{ background:url({'world.png'|img}) no-repeat scroll 0 3px transparent;padding-left:16px; }

.msg-item { background: transparent no-repeat scroll 0 0; border-bottom: 1px solid #e4e7ee; padding: 0 0 7px 20px; margin: 5px 0; text-align: left; }
.msg-item.error { background: url({'icons/decline.png'|img}) top left no-repeat; }
.msg-item.info {  background: url({'icons/default.png'|img}) top left no-repeat; }
.msg-item a { color: #36739E; }

.icon-info { background : url("{'msgIcons/info.png'|img}") no-repeat 0px 0px;   display: inline-block;
    height: 24px;
    left: 3px;
    top: 4px;
    width: 24px;
    position: absolute;
}

.icon-warn { background : url("{'msgIcons/warn.png'|img}") no-repeat 0px 0px;   display: inline-block;
    height: 24px;
    left: 3px;
    top: 4px;
    width: 24px;
    position: absolute;
}


.msg-info {
    background-color: #B9DAE1;
    border: 1px solid #7DB1BE;
    box-shadow: 0 1px 1px #CDE4E9 inset;
    color: #3C73A2;
    text-shadow: 1px 1px #DDEEF2;
}

.msg-warn {
    background-color: #F5F5B4;
    border: 1px solid #C9C98F;
    box-shadow: 0 1px 1px #FAFADB inset;
    color: #A08966;
    text-shadow: 1px 1px #FFFFFF;
}
.msg-err {
    background-color: #F5B5B4;
    border: 1px solid #D39493;
    box-shadow: 0 1px 1px #F8CAC9 inset;
    color: #C6452F;
    text-shadow: 1px 1px #F8C8C8;
}
.msg-warn, .msg-info, .msg-err, .msg-ok {
    border-radius: 3px 3px 3px 3px;
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
    margin: 3px 0;
    padding: 8px 10px 8px 30px;
    position: relative;
    text-align: left;
}

label.error{ 
    border: 1px solid #D39493;
    box-shadow: 0 1px 1px #F8CAC9 inset;
    color: #C6452F;
    text-shadow: 1px 1px #F8C8C8;
    display: block;
    width: 270px;
    background : url("{'msgIcons/error.png'|img}") no-repeat 0px 0px #F5B5B4;
    background-position: left;
    border-radius: 3px 3px 3px 3px;
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
    margin: 3px 0;
    padding: 8px 10px 8px 30px;
    position: relative;
    text-align: left;
 }

.pac-item { text-align: left;}
.error {  border: 1px solid red; }
form#newaddress{ min-height: 240px; }

.user-popup {
    background-color: #F8F7F5;  border: 1px solid #888888;  border-radius: 4px 4px 4px 4px;  box-shadow: 0 0 2px #666666;
    display: inline-block;    padding: 0;    position: relative;    white-space: nowrap;    min-height: 80px;    z-index: 9999;
}

.user-info { display: inline-block; line-height: 18px; margin-left: 6px; }
.user-address { display: inline-block; padding: 10px; }

.user-fullname { color: #176A94; display: inline-block; font-size: 16px; font-weight: bold;  line-height: 16px; }
.user-contacts { background-color: #E5EEEF;  border-bottom-left-radius: 4px;  border-bottom-right-radius: 4px;
                    color: #999999;  display: inline-block;   width: 100%; }

a.lcontact:link, a.lcontact:visited {
    background-color: transparent;
    background-image:  url("{'contacts.png'|img}");
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    text-decoration: none;
    width: 16px;
}
.skype {
    background-position: -40px 0;
}
.facebook {
    background-position: 0 0;
}
.twitter {
    background-position: -20px 0;
}
.email {
    background-position: -60px 0;
}

.avt-medium, .avt-big {
    border: 1px solid #2E6A87;
    box-shadow: 0 0 1px #999999;
    display: inline-block;
}
.avt-medium{ height: 50px; width: 50px;}
.avt-big { height: 100px; width: 100px;}

.address-location {
    background-color: #EEEEEE;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 1px #DDDDDD inset;
    display: inline-block;
    margin-bottom: 4px;
    padding: 5px 26px 5px 5px;
    position: relative;
}


a.remove-address:link, a.remove-address:visited {
    background: url("{'icons/faq-arrows.png'|img}") no-repeat scroll 3px 0 transparent;
    border-radius: 3px 3px 3px 3px;
    display: inline-block;
    font-size: 1px;
    height: 16px;
    position: absolute;
    right: 3px;
    text-decoration: none;
    top: 4px;
    width: 16px;
}
a.remove-address:hover {
    background-color: #FEAAAA;
    box-shadow: 0 1px 1px #DB7C7C inset;
}

a.addLocation:link, a.addLocation:visited {
    background-color: #EEEEEE;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 1px #CCCCCC inset;
    color: #666666;
    display: inline-block;
    font-weight: bold;
    margin: 5px 0;
    padding: 5px 7px;
    text-decoration: none;
    text-shadow: 1px 1px #FFFFFF;
}
a.addLocation:hover {
    box-shadow: 0 1px 1px #AAAAAA inset;
    color: #4C7785;
}

.list-tbl {
    margin: 0;
}
.list-tbl td {
    background-color: #EEEEEE;
    border-bottom: 1px solid #DDDDDD;
    border-top: 1px solid #FFFFFF;
    color: #666666;
    font-size: 14px;
    padding: 10px;
}

a.country-name:link, a.country-name:visited {
    color: #26739B;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 1px 1px #FFFFFF;
}
.count {
    color: #666666;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 1px 1px #FFFFFF;
}

#message-dialog-form { display: none; }

.search-panel {
    display: inline-block;
    margin-bottom: 10px;
}